
header{
    background-image: url("plano-de-fundo.png");
    background-repeat: no-repeat;
    padding-bottom: 11px;
    background-size: 100%;
}

@font-face {
    font-family: almendra;
    src: url("Almendra-Regular.ttf");
}

.logo{
    display: inline-block;
    position: relative;
    left: 41%%;
}
.nome{
    position: relative;
    display: inline-block;
    left: 25%;
}
        
.nome img{
            width: 168px;
}

main{
    box-shadow: 0 -12px 25px black;
    padding-top: 33px;
    font-family: 'Almendra';
}

.produtos{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    column-gap: 34px;
    row-gap: 150px;
}

.produto{
    text-align: center;
}

.produto:hover{
    position: relative;
    top: -5px;
    cursor: pointer;
}

.produto:active{
    cursor: progress;
}

.produto img{
    border: 1px solid black;
}

.nome-produto{
    background-color: white;
    position: relative;
    bottom: 44px;
    margin: 0 1px;
    height: 39px;
}

.nome-produto p{
    font-size: 30px;
}

.retangulo{
    height: 37px;
    background-color: #D9D9D9;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 2px;
    bottom: 43px;
}

.retangulo p{
    font-size: 30px;
}

footer{
    background-color: #230D0D;
    color: #FFFFFF;
}

.contatos{
    display: inline-grid;
    text-align: center;
    grid-template-columns: auto auto auto auto;
    column-gap: 104px;
    position: relative;
    left: 28%;
    margin-top: 10px;
    margin-bottom: 50px;
}

.contatos p, img{
    margin-top: 10px;
}
